<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Library </title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="row" style="margin-top: 20px">
                <div class="col-md-10 col-md-offset-1">
                    
                       <table class="table table-bordered table-striped">
                    <tr>
                        <th>Autor</th>
                        <th>Nume</th>
                        <th>Anul publicatiei</th>
                        <th>Genul</th>
                    </tr>
            
            <tr  th:each="b : ${books}">

                <td th:text="${b.author}"></td>
                <td th:text="${b.name}"></td>
                <td th:text="${b.year}"></td>
                <td th:text="${b.genre}"></td>
                
               
               <!-- <td>
                    <form th:action="@{/{id}(id=${b.id})}" th:method="delete">
                        <input type="submit" value="del" />
                    </form>
                    <form th:action="@{/{id}(id=${b.id})}" th:method="get">
                        <input type="submit" value="edit" />
                    </form>
                </td>-->
                
            </tr>
        </table>
                    
                </div>
                
            </div>
            
              <div class="row" style="margin-top: 20px">
                <div class="col-md-10 col-md-offset-1">
                    
                       <table class="table table-bordered table-striped">
                   <thead>
                    <tr>
                        <th>Procentul parcurs</th>
                        <th>Nume</th>
                        <th>Prenume</th>
                        <th>Carte</th>
                        <th>Autor</th>
                    </tr>
            </thead>
              <tr  th:each="p : ${progress}">

                <td th:text="${p.progress}"></td>
                <td th:text="${p.user?.firstname}"></td>
                <td th:text="${p.user?.lastname}"></td>
                <td th:text="${p.book?.name}"></td>
                <td th:text="${p.book?.author}"></td>
                
                <!--
                <td>
                    <form th:action="@{/{id}(id=${p.id})}" th:method="delete">
                        <input type="submit" value="del" />
                    </form>
                    <form th:action="@{/{id}(id=${p.id})}" th:method="get">
                        <input type="submit" value="edit" />
                    </form>
                </td>
                -->
            </tr>
            
            
            
        </table>
                </div>
              </div>
            
            
            
    </div>
     
    
     
    </body>
</html>